@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
a{
    color:black;
}

a:hover{
    color:black;
    text-decoration: underline;
}

body{
    background-color: #E5E5E5;
    font-family: 'Actor';
}
header{
    display: flex;
    width: 100%;
    height: 20vh;
    /* background-color: aqua; */
}

.sin_subrayado{
    text-decoration: none;
}

.logo{
    width: 25%;
    padding-left: 40px;
    margin-top: 5px;
}

.logoReading{
    width: 140px;
    height: auto;

}

.buscador{
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
}

.buscador_cuadro{
    width: 100%;
    height: 40px;
    background-color:#BF8984;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_buscar{
    width: 25px;
    height: auto;
    margin: 15px;
}

.input_buscar{
    width: 100%;
    border:0;
    outline: transparent;
    background-color: transparent;
    font-family: "Actor";
    padding-left: 20px;
}

.input_buscar::placeholder{
    color:rgb(68, 32, 32); 
    font-family: "Actor";
}

.mibolsa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right: 10px;
    margin-top: 5px;
}

.mibolsa-img{
    text-align: center;
    width: 80px;
    height: auto;
}

main{
    display: flex;
    width: 100%;
    height: auto;
}

aside{
    width:18%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

section{
    width:82%;
    height: auto;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
}

.categorias-nombre{
    width:80%;
}

.categorias-flecha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; 
}

.categorias-flecha img{
    width: 16px;
    height: 26px;
    margin-left: 10px;
}

.categorias{
    margin-left: 7px;
    margin-top: 55px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

hr{
    background-color: #A64646;
    height: 2px;
    border:0;
}

.articulo{
    width: 200px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 5px;
}

.articulo-libro{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.articulo-libro a:hover{
    transform: rotate(10deg) scale(1);
}

.articulo-libro img{
    width: 150px;
    height: 200px;
}

.titulo-libro{
    font-size: 1.1em;
    text-align: center;
}

.autor{
    font-size: .65em;
    text-align: center;
}

/*FOOTER*/
footer{
    width: 100%;
    height: auto;
    background-color: #8DA1A6;
}

.footer_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.info{
    display: flex;
    align-items: center;
    justify-content: end;
}

.buscador-ocultar{
    display: none;
}

/*INFORMACIÓN DE LIBROS*/
.cuadro-libro-main{
    width: 100%;
    display: flex;
}

.libro-info-left{
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 5px;
}
.libro-info{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-whatsapp{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}

.img-whatsapp img{
    width:30px;
}

.img-whatsapp p{
    font-size: 1.2em;
}

.img-portada img{
    width: 200px;
    height: 300px;
}

.precio-letras{
    color:#A64646;
    font-size: 1.5em;
    text-align: center;
}

.precio{
    color:#A64646;
    font-size: 2em;
    text-align: center; 
    margin-bottom: 25px; 
}

.info-vendedor{
    width: 100%;
    font-size: 1.1em;
    text-align: left;
    color :black;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 25px;
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 0.8em;
    color:black;
    background-color: #F3E560;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left:90px;
    padding-right:90px;
    margin-top: 15px;
}

.autor-editorial{
    display: flex;
}

.autor-editorial-info{
    display: flex;
}


.titulo-libro-info{
    font-family: "Actor";
    font-size: 2em;
    color: #A64646;
    margin-bottom: 10px;
}

.normal-font{
    color: black;
    font-family: "Actor";
    font-size: 20px;
}

.editorial-info{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.sinopsis-info{
    display: block;
    margin-top: 30px;
    text-align: justify;
}

.sinopsis-cuadro{
    width:80%;
}

@media screen and (max-width:700px){
    .buscador-ocultar{
        display: inline;
    }
    .buscador_cuadro{
        display: none;
    }
    
    .buscador{
        justify-content: end;
        margin-right: 50px;
    }

    .icon_buscar{
        width: 40px;
    }

    .logoReading{
        width: 100px;
    }
}

@media screen and (max-width:1250px){
    .logoReading{
        width:120px;
        height: auto;
    }
    .articulo{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 5px;       
    }
}
@media screen and (max-width:1100px){
    .cuadro-libro-main{
        flex-direction: column;
        align-items: center;
    }
    .libro-info-right{
        text-align: center;
    }

    .autor-editorial{
        justify-content: center;
    }
    .sinopsis-info{
        text-align: center;
    }
    .sinopsis-cuadro{
        text-align: justify;
        margin: 0 auto;
    }
} 
@media screen and (max-width:1000px){
    .articulo{
        width: 180px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;       
    }
}  
@media screen and (max-width:900px){
    .categorias-flecha img{
        display: none;
    }
    .categorias{
        font-size: 0.8em;
        margin-bottom: 5px;
        margin-top: 30px;
    }
    aside{
        padding-top: 100px;
    }
    .articulo{
        width: 150px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;       
    }
}

@media screen and (max-width:530px){

}

